/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ANCHOR FINE RESET E IMPOSTAZIONI GENERALI  */


/* BOTTONI */

 .pulsante {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
 }

 .bianco {
     background-color: white;
    color: black;
 }

 .nero {
     background-color: black;
    color: white;
 }

 .piccolo {
    padding: 12px; 
    font-size: 0.8em;
    font-weight: bolder;
 }

 .grande {
    font-size: 1.2em;
    padding: 20px;
    font-weight: bold;
 }

 /* id specifici */

 #nav-accedi {
    position: absolute;
    right: 0%;
    bottom: 50%;
     transform: translate(0%, +50%);
} 


/* HEADER E NAV*/

/* NAV */

header {
    background-image: url(immagini/jumbo.png);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    /* background-color: aqua; */
    width: 76%;
    height: 10vh;
    margin: 0 auto 0 auto;
    position: relative;
}

nav img {
    position: absolute;
    left: 0%;
    bottom: 50%;
     transform: translate(0%, +50%);
}
nav ul{
    /* background-color: yellow; */
    display: inline-block;
    position: absolute;
    right: 50%;
    bottom: 50%;
     transform: translate(+50%, +50%);
}

nav ul li{
    /* background-color: brown; */
    display: inline-block;
    margin: 13px;
    color: white;
    font-size: 0.9em;
    padding: 4px;
    
}

nav ul li:hover{
    background-color: rgba(28, 125, 235, 0.582);
    padding: 4px;
    border-radius: 30%;
    display: inline-block;
    margin: 13px;
    color: white;
    font-size: 0.9em;  
}

/* TESTO HEADER */

header h2{
    color: white;
    /* background-color: aqua; */
    font-size: 3.2em;
    display: block;
    
}

header p{
    color: white;
    display: block;
    /* background-color: blueviolet; */
    margin-top: 6vh;
}

#pulsanti-header {
    display: block;
    /* background-color: brown; */
    margin-top: 3vh;
}

#testo-header {
    width: 45%;
    height: fit-content;
    position: absolute;
    top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  /* background-color: yellow; */
   text-align: center; 
}

/* MAIN */


/* Blocchi del main  */

.miniblocco {
    height: 95vh;
    width: 100%;
    position: relative;
}

.macro-blocco {
    background-color: #E5E5E5;
    height: 157vh;
    width: 100%;
    position: relative;
}

#primo-miniblocco {
    background-color: white;
}

#secondo-miniblocco {
    background-color: #E5E5E5;
}

#terzo-miniblocco {
    background-color: white;
}

/* impostazioni onda  */

.onda {
    height: 12vh;
    width: 100%;
}

.onda img {
    float: left;
    width: 100%;
    height: 100%;
    
}

.onda-bianca img {
    filter: invert(90%);
}

.onda-grigia img {
    filter: invert(100%);
}

.onda-bianca {
    background-color: white;
}

.onda-grigia {
    background-color: #E5E5E5;
}

/* contenuto miniblocchi  */

.sinistra img {
    float: left;
}

.destra img {
    float: right;
}

.sinistra {
    float:left;
}

.destra {
    float: right;
}

.testi-miniblocco {
    width: 33%;
    /* background-color: yellow; */
    display: inline-block;
}


.titolo-miniblocco {
    font-size: 2.9em;
    font-weight: bolder;
    margin-top: 33px;
}

.descrizione-miniblocco {
    font-size: 1.1em;
    margin-top: 2.5vh;
    font-weight: 500;
}

.contenuto-miniblocco {
  display: inline-block;
  /* background-color: red;  */
  box-sizing: content-box;
  width: 70%;
   position: absolute;
    right: 15%;
    left: 15%;
    top: calc((100% - 444px) / 2);
} 


/* MACROBLOCCO */

.testi-macroblocco {
    text-align: center;
    width: 100%;
    /* background-color: blue; */
    height: 13%;
    float: left;
}

.immagine-macroblocco {
    /* background-color: aqua; */
    width: 100%;
    height: 61%;
    float: left;
    
}
.immagine-macroblocco img{
    width: 80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenuto-macroblocco {
  /* background-color: red; */
  position: relative;
  height: 85%;
  width: 70%;
  position: absolute;
    right: 15%;
    left: 15%;
    top: 5%;
} 




.titolo-pulsante {
    width: 100%;
    height: 13%;
    float: left;
    text-align: center;
    /* background-color: blue; */
}

.titolo-macroblocco {
    background-image: url(immagini/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 55%;
    height: 99%;
    font-size: 2.5em;
    font-weight: bold;
}

.pulsante-blu {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2em;
    padding: 20px 35px 20px 35px;
    font-weight: bold;
     background-color: blue; 
    color: white;
 }

 .pulsante-finale {
     /* background-color: aqua;  */
    width: 100%;
    height: 13%;
    float: left;
    text-align: center;
    
}


/* FOOTER  */

.footer-container-a {
    width: 75%;
    height: 65%;
    background-color: yellow;
    display: block;
    margin: 0px auto 30px auto;
    
}

.footer-container-b {
    width: 75%;
    height: 15%;
    background-color: rgb(94, 255, 0);
    display: block;
    margin: 0px auto 30px auto;
    
}

footer {
    background-color: #23272A;
    height: 90vh;
    width: 100%;
    position: relative;
}

.colonna-footer-container-a {
    float: left;
    height: 100%;
    width: 19%;
    border-left: 5px solid rgb(255, 0, 0);
    border-right: 5px solid rgb(0, 60, 255);
}

.grande-colonna-footer-container-a {
    float: left;
    height: 100%;
    width: 23%;
    border-left: 5px solid rgb(255, 0, 0);
    border-right: 5px solid rgb(0, 60, 255);
}

.grande-colonna-footer-container-a p {
color: blue;
font-size: 2em;
font-weight: bolder;
}

.lingua {
    font-size: 0.9em;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lingua img {
    height: 18px;
}

.social img {
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

